<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="icon" href="https://your-s3-bucket-name.s3.amazonaws.com/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <h1>Chat</h1>
        <nav>
            <a href="{{ url_for('players_service.get_players') }}">Top NBA Players</a>
            <a href="{{ url_for('training_service.get_training_videos') }}">Training Videos</a>
            <a href="{{ url_for('auth_chat_service.register') }}">Register</a>
            <a href="{{ url_for('auth_chat_service.login') }}">Login</a>
            <a href="{{ url_for('auth_chat_service.chat') }}">Chat</a>
        </nav>
    </header>
    <div class="container">
        <div class="card">
            <h2>Chat</h2>
            <div id="chat-window">
                <!-- Chat messages will appear here -->
            </div>
            <input id="message-input" type="text" placeholder="Type your message...">
            <button id="send-button">Send</button>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 My Flask App</p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>