<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DribbleData</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="icon" type="image/png" href="https://dribbledata-project.s3.amazonaws.com/logo.png">
</head>

<body>
    <header>
        <div class="logo">
            <h1>DribbleData</h1>
        </div>
        <h1>Login</h1>
        <nav>
            <ul>
                <li><a href="{{ base_url_service_1 }}">Overview</a></li>
                <li><a href="{{ base_url_service_2 }}">Top 50 Players</a></li>
                <li><a href="{{ base_url_service_3 }}">Training Videos</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            {% if current_user.is_authenticated %}
            <a class="button" href="{{ url_for('chat') }}">Chat</a>
            <a class="button" href="{{ url_for('logout') }}">Log out</a>
            {% else %}
            <a class="button" href="{{ url_for('register') }}">Register</a>
            <a class="button" href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
    </header>
    <div class="container">
        <div class="card">
            <h2>Login</h2>
            <form id="login-form" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Login</button>
                <div id="login-error">Invalid username or password</div>
            </form>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 DribbleData</p>
    </footer>

    <script src="{{ url_for('static', filename='JavaScript/login.js') }}" defer></script>
</body>

</html>